// Fonts
$main-font: Helvetica, Arial, sans-serif;

// Colors
$txt-color: #666;
$bg-color: #e0e0e0;
$bg-color-light: #f3f3f3;

$violet: #b165d4;
$violet-dark: #4c036e;
$blue: #4c59d8;
$blue-dark: #1826b0;
$green: #5fd4b1;
$green-dark: #00a876;
$yellow: #ffba00;
$yellow-dark: #bf9830;
