body {
  padding: 0;
  margin: 0;
  color: $txt-color;
  background: $bg-color;
  font: 400 14px/1.5 $main-font;
}
* {
  box-sizing: border-box;
}
.main-header {
  min-height: 70px;
  background: $blue;
}
.main-content {
  min-height: calc(100vh - 210px);
}
.main-footer {
  height: 70px;
  background: $violet;
}
.toast-top-center {
  top: 75px;
}

