body {
  padding: 0;
  margin: 0;
  color: $txt-color;
  background: $bg-color;
  font: 400 14px/1.5 $main-font;
}
* {
  box-sizing: border-box;
}
.main-header {
  height: 70px;
  background: $blue;
}
